body{
    background-color:  rgb(0, 0, 0);
}
/* .circulos{
    width: 150px;
    height: 150px;
    background-color:purple;
    border-radius: 75px;
    position: static;
}
#segundo{
    position: absolute;
    bottom: 15px;
    right: 15px;
}
#retangulo{
    border: 5px solid red;
    width: 400px;
    height: 300px;
    position: relative;
}
#terceiro{
    position: absolute;
    top: 0px;
} */

.retangulos{
    width: 400px;
    height: 100px;
    border: 5px solid black;
    background-color: aquamarine;
}
#terceiro{
    background-color: red;
    position: sticky;
    top: 0px:
}
