@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
    background-color: black;
    color:white;
}
header{
    background-color: rgb(190, 190, 190);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 5vw;
    padding: 13px;
}
header ul{
    display: flex;
    list-style: none;
    justify-content: right;
}
header li{
    padding: 29px;
    display: flex;
    justify-content: center;
}
li:hover{
    text-shadow: rgb(0, 0, 0) 5px 5px 5px;
    transition: 0.5s;
    cursor:pointer;
    border-radius: 32px;
}
.area1{
    padding-top: 23px;
    padding-left: 33%;
}
#noticia1{
    border: 2px solid rgb(155, 155, 155);
    border-radius: 23px;
    height: 44vh;
    width: 35vw;
    padding: 23px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
#imgnoticia{
    width: 10vw;
    float: right;
}
#titulo4{
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
}
#a1{
    color:#000AFF;
}
#a2{
    color:#24FF00;
}
#a3{
    color: #FAFF00;
}
#a4{
    color: #FF0000;
}
#a5{
    color: #A1A1A1;
}
#a6{
    color: #00FF0A;
}
.area2{
    padding-top: 53px;
}
.noticia2{
    width: 90%;
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid rgb(155, 155, 155);
    border-radius: 23px;
    margin-left: 5%;
}
#titulo1{
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}
#sharks{
    margin-left: 12%;
    justify-content: center;
    margin-top: 10px;
    width: 23vw;
}
#titulo2{
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}
#case{
    width: 23vw;
    margin-top: 10px;
    margin-left: 12%;

}
#titulo3{
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}
#guerri{
    width: 23vw;
    margin-top: 10px;
    margin-left: 12%;
}
#b1{
    color:#0085FF;
}
#div1:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.248);
    transition: 0.5s;
    border-radius: 20px;
}
#div2:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.248);
    transition: 0.5s;
    border-radius: 20px;
}
#div3:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.248);
    transition: 0.5s;
    border-radius: 20px;
}
.area3{
    display: flex;
    justify-content: center;
    margin-top: 93px;
}
#jogos{
    background:url(./assets/fundo.webp);
    width: 50vw;
    height: 25.1vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#titulo5{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 2vh;
    margin: 27px;
}
