@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(51, 50, 50);;
}
header{
    width: 100vw;
    height: 14vh;
    display: flex;
    justify-content: space-evenly;
}  
.hover img{
    width: 2vw;
}
.hover{
    position:absolute;;
    width: 3vw;
    height: 99vh;
    background-color: rgb(137, 136, 134);
    transition: 0.5s;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hover:hover{
    width: 15vw;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.analises{
    margin-top: 23px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 16vw;
    height: 10vh;
    background-color: rgb(163, 161, 161);
    transition: 0.5s;
}
.analises:hover{
    background-color: rgb(108, 107, 107);
}
header p{
    color: white;
    margin-top: 5px;
    margin-left: 23px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}
div #real{
    margin-top: 60px;
    font-size: 22px;
}
.receita{
    display: flex;
}
.despesas{
    display: flex;
}
.total{
    display: flex;
}
.estado{
    height: 5vh;
    width: 13vw;
    background-color: white;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 7.3%;
    display: flex;
    align-items: center;
    color: rgb(122, 125, 125);
}
.estado p{
    padding-left: 20px;
}
.estado:hover{
    cursor: text;
}
img{
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 7.3%;
}
.conteudo{
    display: flex;
}
.meses{
    margin: 140px;
    display: flex;
    width: 40vw;
    height: 35vh;
    flex-wrap: wrap;
}
#meses2{
    font-size: 23px;
    color:white;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: rgb(163, 161, 161);
    width: 15vw;
    height: 10vh;
    margin: 4px;
    justify-content: space-around;
    transition: 0.5s;
}

#meses2:hover{
    background-color: rgb(108, 107, 107);
}
.conteudomobile{
    display: none;
}
@media (max-width:390px){
.hover{
    display: none;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
}  
.analises{
    width: 90vw;
    height: 13vh;
}
.analises:hover{
    background-color: rgb(108, 107, 107);
}
header p{
    color: white;
    margin-top: 5px;
    margin-left: 23px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}
div #real{
    margin-top: 60px;
    font-size: 25px;
}
.receita{
     display: flex;
}
.despesas{
    display: flex;
}
 .total{
    display: flex;
}
.estado{
    height: 5vh;
    width: 50vw;
    background-color: white;
    border-radius: 10px;
    margin-top: 30%;
    margin-left: 6.1%;
    display: flex;
    align-items: center;
    color: rgb(122, 125, 125);
}
.estado p{
    padding-left: 20px;
}
.estado:hover{
    cursor: text;
}
img{
    width: 89vw;
    height: 30vh;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 6.1%;
 }
.conteudo{
    display: flex;
    display: none;
}
.conteudomobile{
    display: flex;
}
.meses{
    margin: 140px;
    display: flex;
    width: 40vw;
    height: 35vh;
}
#meses2{
    font-size: 23px;
    color:white;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    align-items: center;
    background-color: rgb(163, 161, 161);
    width: 30vw;        
    height: 10vh;
    margin: 4px;
    transition: 0.5s;
}
#meses2:hover{
    background-color: rgb(108, 107, 107);
}
}